.mh-category-menu {
  background: white;
  border-radius: 6px;
}

.mh-category-item {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  padding: 4px 8px;
}

.mh-category-item:hover {
  color: #ff7b00;
}
