.cart-container {
  padding-bottom: 40px;
}

.cart-item {
  display: flex;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
}

.cart-img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.cart-info {
  flex: 1;
  margin-left: 15px;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-controls button {
  width: 32px;
  height: 32px;
  border: none;
  background: #eaeaea;
  border-radius: 6px;
  font-size: 18px;
}

.cart-summary {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}
