/* path: src/pages/ProductListPage.css */

.filter-box {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}
